<h1>Submit A Link</h1>
<%= form_for(@post) do |f| %>

  <%=f.label :title %>
  <br>
  <%=f.text_field :title %>
  <br>
  <%=f.label :url, "URL" %>
  <br>
  <%=f.text_field :url %>
  <br>
  <%# f.hidden_field :user_id, value: current_user_id %>
  <input type="hidden" name="post[user_id]" value="<%= current_user_id %>">
  <%=f.fields_for(:comments) do |c| %>
    <%=c.label :body, "Comment"%>
    <br>
    <%=c.text_area :body%>
    <input type="hidden" name="post[comments_attributes][0][user_id]" value="<%= current_user_id %>">
  <%end%>
  <br>
  <%= f.submit "Submit" %>
<% end %>
